











.spin-wrapper {
    box-shadow: 0px 0px 10px;
    border: 3px solid red;
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
}

.spin-wrapper p {
    text-align: center;
    font-size: 23px;
    line-height: 1.4;
    margin-bottom: 15px;
}

.wheel-wrapper {
    text-align: center;
}

.wheel {
    max-width: 380px;
    width: 100%;
    margin: 0px auto;
    position: relative;
}

.wheel-cursor {
    position: absolute;
    width: 35%;
    height: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wheel img {
    max-width: 100%;
}

.cursor-text {
    position: absolute;
    z-index: 2;
    display: inline-block;
    width: 45%;
    height: 45%;
    line-height: 61px;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    border: 1px solid rgb(204, 204, 204);
    top: 49%;
    left: 50%;
    -moz-user-select: none;
    transform: translate(-50%, -50%);
    box-shadow: 0px -2px 0px rgb(255, 255, 255) inset, 0px 2px 0px rgb(255, 255, 255) inset, 0px 0px 5px rgba(0, 0, 0, 0.4);
    background: transparent radial-gradient(ellipse at center center, rgb(255, 255, 255) 0%, rgb(234, 234, 234) 100%) repeat scroll 0% 0%;
}

.super-rotation {
    animation-name: super-rotation;
    animation-duration: 7s;
    animation-fill-mode: forwards;
    transition-timing-function: ease-in-out;
}

@keyframes super-rotation {
    70% {
        transform: rotate(1783deg);
    }

    100% {
        transform: rotate(1774deg);
    }
}

.spin-result-wrapper {
    display: none;
    padding: 0px 10px;
    box-sizing: border-box;
    width: 100%;
    max-width: 10000px;
    top: 0px;
    z-index: 999;
    left: 0px;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}

.pop-up-window {
    position: relative;
    max-width: 360px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: rgb(255, 255, 255) none repeat scroll 0% 0%;
    text-align: center;
    padding: 70px 10px 20px;
    border-radius: 10px;
    animation: 0.7s ease 0s normal none 1 running pop-up-appear;
}

.pop-up-window::before {
    content: "";
    position: absolute;
    width: 110px;
    height: 110px;
    top: -55px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    background-color: rgb(113, 195, 65);
    border-radius: 50%;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-before;
}

.pop-up-window::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: -20px;
    left: 0px;
    right: 0px;
    margin: 0px auto;
    border-width: medium medium 4px 4px;
    border-style: none none solid solid;
    border-color: currentcolor currentcolor rgb(255, 255, 255) rgb(255, 255, 255);
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    transform: rotate(-45deg);
    transition: opacity 1s ease 0s;
    animation: 0.5s ease 0.6s normal backwards 1 running pop-up-appear-after;
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../images/close-1.png);
    background-size: 100% auto;
    top: -40px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    right: 0px;
    cursor: pointer;
}

@keyframes pop-up-appear {
    0% {
        transform: translateY(-2000px);
    }

    30% {
        transform: translateY(100px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes pop-up-appear-before {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pop-up-appear-after {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.discountс {
    display: block;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.old-price {
    text-decoration: line-through;
    color: red;
    font-size: 28px;
    line-height: 1;
}

.new-price {
    font-size: 32px;
    line-height: 1;
    color: green;
}

.old-price,
.new-price {
    padding: 0 10px;
}

.order_form {
    margin: 10px auto 0;
}

.order_form input {
    max-width: 400px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border-radius: 3px;
    border: 2px solid grey;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 0;
}

.order_form .main-link {
    display: block;
    background: #f00;
    border-radius: 15px;
    padding: 15px 30px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0 auto 15px;
    border: none;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    cursor: pointer;
    outline: none;
}

.order_form .main-link:hover {
    transform: scale(1.1);
}

footer {
    outline: 2px solid #252525;
}

::-ms-clear {
    display: none;
}


@media screen and (max-width: 479px){
    .wheel {
        max-width: 270px;
    }

    .wheel-cursor {
        width: 40%;
        height: 40%;
    }

    .cursor-text {
        font-size: 15px;
        line-height: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pop-up-window {
        max-width: 300px;
    }

    .spin-result-wrapper {
        max-width: 100%;
        width: 100%;
    }

    body ul {
        padding-left: 20px !important;
    }

    .c15 .c3 p {
        font-size: 16px;
        padding: 5px;
    }


}


.pop-up-button {
    text-transform: uppercase;
    padding: 10px 20%;
    font-size: 20px;
    border-radius: 5px;
    background-color: #71c341;
    border: none;
    cursor: pointer;
    outline: 0;
    font-size: 20px;
    color: #fff;
}

.pop-up-heading {
    font-size: 40px;
    color: #000;
}

.pop-up-text {
    font-size: 24px;
    color: #000;
}

.price-box {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

.price-label {
    padding-top: 10px;
    position: absolute;
    font-family: Arial, sans-serif;
    right: 0px;
    bottom: 0px;
    color: rgb(0, 0, 0);
    box-shadow: rgba(0, 0, 0, 0.8) 0px 3px 30px;
    width: 165px;
    height: 98px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.3;
    transform: rotateZ(-7deg);
    margin: 0px auto;
    background: linear-gradient(to right, rgb(238, 165, 19) 0%, rgb(253, 237, 19) 100%);
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    border-radius: 19%;
}

.new_price.js_new_price.price_main {
    border-bottom: 2px solid #f00;
}

.form__title {
    text-align: center;
}

.form__title span {
    color: #f00;
}

.time-remaining-text {
    font-size: 22px;
}


.autoComments {
    background: #d7f2d8;
    margin-top: 25px;
    border-radius: 5px;
    padding: 10px 20px;
}

.refreshBox {
    flex-direction: column;
    align-items: center;
    display: flex;
}

.autoComments__item.active ~ .refreshBox {
    display: none;
}


.refreshImg {
    margin: 0;
    max-width: 120px !important;
}

.autoComments__mainTitle {
    color: rgb(61, 61, 61);
    margin-bottom: 10px;
    font-size: 20px;
}

.comments {
    display: flex;
    font-size: 16px;
    padding: 10px 0;
}

.comments a {
    text-decoration: none;
    font-size: 13px;
}

.comments a:hover {
    text-decoration: underline;
}

.comments a:visited {
    color: #365899;
}

.comments__name {
    color: #365899;
    font-weight: bold;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px !important;
}

.comments__name:hover {
    text-decoration: underline;
}

.comments__tools {
    display: flex;
    align-items: baseline;
}

.comments__tools a {
    margin-right: 10px;
}

.comments__tools span {
    font-size: 13px;
}

.comments__like {
    margin: 0;
}

.comments__ava {
    min-width: 40px;
    max-width: 40px;
    margin-right: 15px;
}

.autoComments__item {
    display: none;
}

.autoComments__item.active {
    display: flex;
    animation: fade .5s ease-out;
}

@keyframes fade {
    20% {
        transform: scale(1.2)
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 479px) {
    .comments__tools {
        flex-wrap: wrap;
    }
}


.contentImg {
    max-width: 300px;
}